@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 /*Nav styles */
 nav{
    display: flex;
    justify-content: space-around;
    margin: 50px 100px;
    flex-direction: absolute;
    width: 160;
    height: 100;
    left: 0;
    top: 0;
    align-items: center;
    padding: 24px 160px 24px 160px;
    background: rgb(245, 245, 245);


 }
 .nav-title{
    position: static;
    
    justify-content: center;
    color: 0E0E0E;


 }
 .sig{
  
display: flex;
 color: rgb(0, 106, 80);
 position: static;
width: 116px;
height: 52px;
box-sizing: border-box;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 15px 30px 15px 30px;
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 421px;

 }